In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('results.csv', header=None, delimiter=',', names=['target', '5', 'L/10', 'L/5', 'L/2', 'L', '2L', 'All'])

In [3]:
result = df[df['target'].str.endswith('.rr')]

In [4]:
result.head()

     target      5    L/10     L/5    L/2      L     2L  All
0  1brfA.rr   40.0   40.00   36.36  25.93  24.53  22.64  NaN
2  1aapA.rr  100.0  100.00   63.64  53.57  44.64  29.46  NaN
4  1ctfA.rr  100.0  100.00  100.00  73.53  55.88  33.82  NaN
6  1atzA.rr   80.0   62.50   73.33  39.47  28.00  24.00  NaN
8  1c9oA.rr   80.0   85.71   61.54  36.36  22.73  16.67  NaN

In [12]:
print('Total test targets: {}\n'.format(len(result)))
print('Test precision:')
for m in ['5', 'L/10', 'L/5', 'L/2', 'L']:
    print('{:5s} precision = {:.2f}'.format(m, result[m].mean()))

Total test targets: 150

Test precision:
5     precision = 69.73
L/10  precision = 58.61
L/5   precision = 47.85
L/2   precision = 33.28
L     precision = 23.34